<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="for kakao">
  <meta name="author" content="dyoona@gmail.com">

  <title>woozet's Place Search</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-home.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">장소검색</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div id="app">
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h3 class="my-4">Search Result
          <small>장소 검색결과가 표시됩니다.</small>
        </h3>

        <!-- Blog Post -->
        <div class="card mb-4" v-for="(d, index) in docs.searchResult.documents">
          <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
          <div class="card-body">
            <h4 class="card-title">{{ d.place_name }}</h4>
            <p class="card-text">{{ d.address_name }}</p>
            <a v-bind:href="d.map_link" class="btn btn-primary" target="_blank">카카오맵에서 보기 &rarr;</a>
          </div>
          <div class="card-footer text-muted">
              {{ d.phone }}
          </div>
        </div>

        <!-- Pagination -->
        <div style="text-align: right; margin-bottom: 20px">
            <button class="btn btn-secondary" v-on:click="prev()" v-bind:disabled="disablePrev">&larr; 이전</button>
            <button class="btn btn-secondary" v-on:click="next()" v-bind:disabled="disableNext">다음 &rarr;</button>
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">장소 검색</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="장소 키워드 입력.." v-model="searchKeyword">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" v-on:click="searchPlaces()">Go</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">장소검색 Top 10 (10초별 갱신)</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  <li v-for="(k, index) in docs.trends">
                    {{ index + 1 }}. {{ k.keyword }} <small>({{ k.count }}회)</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <modal v-if="showModal">
        <h4 slot="header">먼저 로그인하세요.</h4>
        <div slot="body" class="row">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ID" v-model="login.username">
            <input type="password" class="form-control" placeholder="Password" v-model="login.password">
          </div>
            <span class="red" v-if="isLoginErrorVisible">아이디와 비밀번호를 확인하세요.</span>
        </div>
        <button slot="footer" class="btn btn-secondary" type="button" v-on:click="goLogin()">Go</button>
      </modal>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/vue/vue.js"></script>
<script src="vendor/axios/axios.min.js"></script>
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<script>
  
  Vue.component('modal', {
    template: '#modal-template'
  })

  var loginOption = {
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded'
    }
  };
  var trendTimer;

  var vue = new Vue({
    el: '#app',
    data() {
      return {
        showModal: false,
        isLoginErrorVisible: false,
        login: {
          username: '',
          password: ''
        },
        searchKeyword: '',
        disablePrev: true,
        disableNext: true,
        docs: {
          trends: [],
          searchResult: { documents: [] }
        }
      };
    },
    methods: {
      ready: function() {
        this.refreshTrends();
      },
      goLogin: function() {
        axios.post('/login', ['username=', this.login.username, '&', 'password=', this.login.password].join(''), loginOption)
        .then(response => {
          this.showModal = false;
          this.isLoginErrorVisible = false;
          this.refreshTrends();
        })
        .catch(error => {
          this.isLoginErrorVisible = true;
        });
      },
      refreshTrends: function() {
        axios.get('/api/v1/place/search/top10')
          .then(response => {
            this.docs.trends = response.data;
          })
          .catch(error => {
            this.showModal = true;
          });
      },
      searchPlaces: function(page) {
        if (!this.searchKeyword) {
          return;
        }

        var url = '/api/v1/place/search?keyword=' + this.searchKeyword;
        if (page) {
          url += '&page=' + page;
        }

        axios.get(url)
          .then(response => {
            this.docs.searchResult = response.data;
            this.setPager();
          })
          .catch(error => {
            this.showModal = true;
          });
      },
      prev: function() {
        this.searchPlaces(this.docs.searchResult.page - 1);
      },
      next: function() {
        this.searchPlaces(this.docs.searchResult.page + 1);
      },
      setPager: function() {
        this.disableNext = this.docs.searchResult.last_page;
        this.disablePrev = this.docs.searchResult.page === 1;
      }
    }
  });

  $(function() {
    vue.ready();
    trendTimer = setInterval(vue.refreshTrends, 10000);
  });
  </script>
</body>

</html>
